:root{
  --height-header: 60px;
}

.ac_fs-7{
  font-size: 0.7rem;
}

/* HEADER  */

header{
  /* position: fixed; */
  /* z-index: 999; */
  /* top: 0; */
  /* right: 0; */
  width: 100%;
  height: var(--height-header);
}

header .ac_icons i:hover{
  cursor: pointer;
}

/* MAIN  */

main{
  height: calc(100vh - var(--height-header));
  /* margin-top: var(--height-header); */
  display: flex;
}

/* ASIDE SIDEBAR  */

/* vedere la correzione per capire meglio come funziona shrink e grow  */

/* carina la soluzione usata con pading interni e d-none alle icone per centrare tutto senza usare la media query  */

main aside{
  flex-shrink: 0;
  width: 150px;
  height: 100%;
  background-color: #051e34;
  background-image: url(../img/sidebar-bg.png);
}

main aside .selezionato:hover{
  background-color: gray;
  cursor: pointer;
}

/* CONRAINER CENTRALE  */

/* flex-grow: 1; */

.ac-container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

span.ac_badge{
  background-color: rgba(0, 0, 0, .3);
  vertical-align: middle;
  font-size: 0.7rem;
}

span.ac_badge:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, .7);
}

.offcanvas {
  --bs-offcanvas-width: 500px;
}

table .image{
  width: 25px;
}

/* MOBILE FIRST  */

/* TABLET  */
@media all and (max-width:991px){
  header .logo{
    width: 45px;
  }

  main aside{
    width: 50px;
  }
  
  .ac_fs-7{
    font-size: 1rem;
  }
}